<div class="main-content__block _margin company-info">
    {% if page.lang == "ru" %}
    <div class="company-info__info">
        <a href="assets/docs/onder.pdf" target="_blank">
            Направления деятельности Группы компаний ONDER согласно ОКВЭД
        </a>
    </div>
    {% endif %}
    <h2 class="company-info__item">
        {{ page.footerText }}
    </h2>
    <a href="mailto:{{ site.email }}" target="_blank">
        <h1 class="company-info__mail">
            {{ site.email }}
        </h1>
    </a>
    <h2 class="company-info__item">
        <a class="_black" href="tel:{{ site.phone }}" target="_blank">
            {{ site.phone }}
        </a>
    </h2>
</div>
